body {
    font-family: Robato, sans-serif;
}

.navbar{
    background-color: #8AA2BF;
}

#cabecalho .nav .nav-link.active{
    background-color: #fff;
    color: #3E6794;
}

#cabecalho .nav .nav-link,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.section-title {
    font-family: 'Vollkorn', serif;
}

.navbar-toggler {
    background-color: #3E6794;
}

#sobre-o-restaurante, #cardapio{
    background-color: #C9D6E3;
}

.text-colored {
    color: #3E6794;
}

.nav-cardapio .nav-link.active,
#fale-consco button {
    background-color: #496078;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #496078;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

textarea {
    resize: none;
}

.copy {
    background-color: #8AA2BF;
    color: #fff;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}